<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDC</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header" id="header">
        <div class="nav-container" id="nav-container">
            <div class="nav" id="nav">
                <div class="nav-logo" id="nav-logo">
                    <img src="../static/images/logo.svg" class="nav-logo-img" id="nav-logo-img">
                    <p class="nav-logo-text" id="nav-logo-text">
                        WDC
                    </p>
                </div>
                <div class="nav-menu" id="nav-menu">
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Навыки</a></li>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="nav-contacts" id="nav-contacts">
                    <div class="nav-contacts-item" id="nav-contacts-item">
                        <img src="../static/images/phone.svg">
                        <a href="#">+7 (978) 852-96-96</a>
                    </div>
                    <div class="nav-contacts-item" id="nav-contacts-item">
                        <img src="../static/images/mail.svg">
                        <a href="#">webdevcrimea@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content" id="content">
        <div class="hero-section" id="hero-section">
            <div class="hero-text-container" id="hero-text-container">
                <div class="hero-text-title">
                    Добро пожаловать в
                    WebDevCrimea!
                </div>
                <div class="hero-text-subtitle">
                    Мы Переводим Идеи в Реальность!
                </div>
                <div class="hero-text-description">
                    В WebDevCrimea мы гордимся тем, что создаем инновационные 
                    решения, которые преображают ваш бизнес. Наша команда 
                    разработчиков стремится к воплощению ваших идей в эффективные и 
                    мощные веб-приложения. Мы не просто пишем код – мы создаем 
                    цифровые продукты, которые выделяют вас на рынке.
                </div>
                <div class="button-link" id="button-link">
                    <div><a href="#" class="button-link-item" target="_blank"><img src="../static/images/telegram.svg"></a></div>
                    <div><a href="#" class="button-link-item" target="_blank"><img src="../static/images/google.svg"></a></div>
                    <div><a href="#" class="button-link-item" target="_blank"><img src="../static/images/instagram.svg"></a></div>
                    <div><a href="#" class="button-link-item" target="_blank"><img src="../static/images/avito.svg"></a></div>
                </div>
            </div>
            <div class="hero-img-container" id="hero-img-container">
                <img src="../static/images/hero-img.svg">
            </div>
        </div>
        <div class="skills" id="skills">
            <div class="skills-title" id="skills-title">
                <p>Навыки</p>
            </div>
            <div class="skills-content" id="skills-content">
                <div class="skills-tile-container" id="skills-tile-container">
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/git.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">Git</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/js.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">JavaScript</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/sass.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">Sass/Scss</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/html.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">HTML</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/sql.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">SQL/NoSQL</p>
                    </div>
                </div>
                <div class="skills-tile-container" id="skills-tile-container">
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/python.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">Python</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/figma.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">Figma</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/flutter.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">Flutter</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/nodejs.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">Node.Js</p>
                    </div>
                    <div class="tile-item" id="tile-item">
                        <img src="../static/images/kotlin.svg" class="tile-item-img" id="tile-item-img">
                        <p class="tile-item-title" id="tile-item-title">Kotlin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="teams">
            <div class="teams-content">
                <div class="teams-title">
                    <p id="team-title">Команда</p>
                </div>
                <div class="team-group">
                    <div class="teams-tile-container">
                        <div class="team-item">
                            <img src="../static/images/mansur.svg" alt="Team Member">
                            <p class="team-name">Memetov Mansur</p>
                            <p class="team-text">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                        </div>
                        <div class="team-item">
                            <img src="../static/images/mansur.svg" alt="Team Member">
                            <p class="team-name">Memetov Mansur</p>
                            <p class="team-text">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                        </div>
                        <div class="team-item">
                            <img src="../static/images/mansur.svg" alt="Team Member">
                            <p class="team-name">Memetov Mansur</p>
                            <p class="team-text">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                        </div>
                    </div>
                    <div class="teams-tile-container">
                        <div class="team-item">
                            <img src="../static/images/mansur.svg" alt="Team Member">
                            <p class="team-name">Memetov Mansur</p>
                            <p class="team-text">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                        </div>
                        <div class="team-item">
                            <img src="../static/images/mansur.svg" alt="Team Member">
                            <p class="team-name">Memetov Mansur</p>
                            <p class="team-text">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                        </div>
                        <div class="team-item">
                            <img src="../static/images/mansur.svg" alt="Team Member">
                            <p class="team-name">Memetov Mansur</p>
                            <p class="team-text">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-me">
            <div class="about-me-container">
                <img src="../static/images/about-me.svg" alt="About Me Image">
                <div class="about-me-content">
                    <p class="about-me-title">О нас</p>
                    <div class="text-info">
                        <p>В WebDevCrimea мы не просто команда разработчиков, мы - творцы, вдохновленные стремлением к совершенству и инновациям. Наша миссия – создавать цифровые продукты, которые не просто соответствуют вашим ожиданиям, но и превосходят их.</p>
                    </div>
                    <div class="values">
                        <p>Наши ценности:</p>
                        <ol>
                            <li>Креативность и Инновации: Мы любим вызовы и видим в них возможность воплотить креативные идеи в реальность. Наша команда постоянно ищет новые технологии и подходы для воплощения ваших амбиций.</li>
                            <li>Партнерство и Сотрудничество: Мы считаем, что успешные проекты строятся на взаимном доверии и понимании. Мы не просто ваш поставщик услуг – мы ваш партнер, готовый поддерживать вас на каждом этапе.</li>
                            <li>Пользовательский Опыт: Наши разработки ориентированы на пользователя. Мы стремимся к тому, чтобы каждое взаимодействие с нашими продуктами приносило радость и удовлетворение.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div> 
        <div class="projects">
            <div class="projects-container">
                <div class="projects-title">
                    <p class="project-title">Проекты</p>
                </div>                
                <div class="project-item">
                    <img src="../static/images/imac.svg" alt="Project Image">
                    <div class="project-details">
                        <div class="number-wrapper">
                            <p class="number">01</p>
                        </div>
                        <p class="project-name">HOTE</p>
                        <p class="project-text">"HOTE" - инновационный онлайн-сервис бронирования, предоставляющий широкий выбор отелей по всему миру, с подробными описаниями, отзывами и простым процессом бронирования, чтобы обеспечить пользователям комфортный выбор идеального проживания.</p>
                    </div>
                </div>
        
                <div class="project-item">
                    <div class="project-details">
                        <div class="number-wrapper">
                            <p class="number">02</p>
                        </div>
                        <p class="project-name">ДОМ КРУГОМ</p>
                        <p class="project-text">«Дом.Кругом» – это комплексный проект про дома на колесах, который работает по многим направлениям: от создания тренда до реализации комплексной инфраструктуры для шеринга автодомов и прицепов по авторским маршрутам.</p>
                    </div>
                    <img src="../static/images/home-circle.svg" alt="Project Image">
                </div>
        
                <div class="project-item">
                    <img src="../static/images/it-planer.svg" alt="Project Image">
                    <div class="project-details">
                        <div class="number-wrapper">
                            <p class="number">03</p>
                        </div>
                        <p class="project-name">IT-Planer</p>
                        <p class="project-text">Данный веб-сервис - это интуитивное приложение для управления ИТ-проектами, созданное для молодых команд разработчиков. Мы предоставляем инструменты для задач, коллаборации, мониторинга прогресса и безопасного обмена данными. Интеграция с популярными инструментами разработки обеспечивает эффективный рабочий процесс, а гибкость позволяет подстраиваться под разные команды.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews">
            <div class="reviews-container">
                <div class="reviews-titles">
                    <p class="reviews-title">Отзывы</p>
                </div>
                <div class="reviews-objects">
                <div class="riviews-card-1">
                    <img src="../static/images/card-1.svg">
                    <p class="reviews-text-1">Работа выполнена качественно и в срок. Сайт выглядит именно так, как и хотел. Запустили рекламную кампанию. Буду обращаться ещё!</p>
                    <div class="dash-black"></div>
                    <div class="reviews-name-1">
                        Кармацкий Евгений
                    </div>
                </div>
                <div class="riviews-card-2">
                    <img src="../static/images/mavka.svg">
                    <p class="reviews-text-2">Результатом я осталась довольна. Талантливая команда программистов. Главное - сделали именно то, что я хотела увидеть. Это главное.</p>
                    <div class="dash-white"></div>
                    <div class="reviews-name-2">
                        Бекирова Мавиле
                    </div>
                </div>
                <div class="riviews-card-1">
                    <img src="../static/images/card-1.svg">
                    <p class="reviews-text-1">Креативный подход к работе. Точно в срок выполнен заказ. Сайт выполнен великолепно. 🤝 Буду обращаться только к Вам!</p>
                    <div class="dash-black"></div>
                    <div class="reviews-name-1">
                        Акка Сервер
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="feedback">
            <div class="feedback-container">
                <div class="input-aria">
                    <form action="#" method="post">
                        <input type="text" placeholder="Your name" required>
                        <input type="email" placeholder="Email" required>
                        <input type="text" placeholder="Your website (if exists)">
                        <input type="search" placeholder="How can i help?*">
                        <input type="submit" value="Отправить">
                    </form>
                    <a href="#">Telegram</a>
                </div>
                <div class="feedback-info">
                    <p>Обратная связь</p>
                    <p>Ваш голос важен для нас</p>
                </div>
            </div>
        </div>
</body>
</html>