<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDC</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header" id="header">
        <div class="nav-container" id="nav-container">
            <div class="nav" id="nav">
                <div class="nav-logo" id="nav-logo">
                    <img src="../static/images/logo.svg" class="nav-logo-img" id="nav-logo-img">
                    <p class="nav-logo-text" id="nav-logo-text">
                        WDC
                    </p>
                </div>
                <div class="nav-menu" id="nav-menu">
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Навыки</a></li>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="nav-contacts" id="nav-contacts">
                    <div class="nav-contacts-item" id="nav-contacts-item">
                        <img src="../static/images/phone.svg">
                        <a href="#">+7 (978) 852-96-96</a>
                    </div>
                    <div class="nav-contacts-item" id="nav-contacts-item">
                        <img src="../static/images/mail.svg">
                        <a href="#">webdevcrimea@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content" id="content">
        <div class="hero-section" id="hero-section">
            <div class="hero-text-container" id="hero-text-container">
                <div class="hero-text-title">
                    Добро пожаловать в
                    WebDevCrimea!
                </div>
                <div class="hero-text-subtitle">
                    Мы Переводим Идеи в Реальность!
                </div>
                <div class="hero-text-description">
                    В WebDevCrimea мы гордимся тем, что создаем инновационные 
                    решения, которые преображают ваш бизнес. Наша команда 
                    разработчиков стремится к воплощению ваших идей в эффективные и 
                    мощные веб-приложения. Мы не просто пишем код – мы создаем 
                    цифровые продукты, которые выделяют вас на рынке.
                </div>
                <div class="button-link" id="button-link">
                    <div><a href="#" class="button-link-item"><img src="../static/images/telegram.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/google.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/instagram.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/avito.svg"></a></div>
                </div>
            </div>
            <div class="hero-img-container" id="hero-img-container">
                <img src="../static/images/hero-img.svg">
            </div>
        </div>
    </div>
</body>
</html>