<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header id="header" class="header">
        <div class="navigation">
            <div class="nav-logo" id="nav-logo">
                <img src="../static/images/logo.svg" class="nav-logo-img" id="nav-logo-img">
                <p class="nav-logo-text" id="nav-logo-text">
                    WDC
                </p>
            </div>
            <ul class="nav-menu">
                <li><a href="#about-us">О нас</a></li>
                <li><a href="#skills">Навыки</a></li>
                <li><a href="#projects">Проекты</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
            <div class="nav-contacts" id="nav-contacts">
                <div class="nav-contacts-item" id="nav-contacts-item">
                    <img src="../static/images/phone.svg">
                    <a href="#">+7 (978) 852-96-96</a>
                </div>
                <div class="nav-contacts-item" id="nav-contacts-item">
                    <img src="../static/images/mail.svg">
                    <a href="#">webdevcrimea@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="offer">
            <div class="offer-text">
                <div class="offer-title">
                    <span>Добро пожаловать в <br> WebDevCrimea! <br></span>
                </div>
                <div class="offer-subtitle">
                    <span>Мы Переводим Идеи в Реальность! <br></span>
                </div>
                <div class="offer-description">
                    <span>В WebDevCrimea мы гордимся тем, что создаем инновационные решения, которые преображают ваш бизнес. Наша команда разработчиков стремится к воплощению ваших идей в эффективные и мощные веб-приложения. Мы не просто пишем код – мы создаем цифровые продукты, которые выделяют вас на рынке.</span>
                </div>
                <div class="offer-button-link" style="margin: 29px;">
                    <div><a href="#" class="button-link-item"><img src="../static/images/telegram.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/google.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/instagram.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/avito.svg"></a></div>
                </div>
            </div>
            <div class="offer-image">
                <img src="../static/images/hero-img.svg">
            </div>
        </div>
    </header>
    <section class="skills" id="skills">
        <div class="container">
            <div class="skill-title">
                <span>Навыки</span>
            </div>
            <div class="skill-tile-container">
                <div class="tile-item">
                    <img src="../static/images/git.svg">
                    <p>Git</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/js.svg">
                    <p>JavaScript</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/sass.svg">
                    <p>Sass/Scss</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/html.svg">
                    <p>HTML</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/sql.svg">
                    <p>SQL/NoSQL</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/python.svg">
                    <p>Python</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/figma.svg">
                    <p>Figma</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/flutter.svg">
                    <p>Flutter</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/nodejs.svg">
                    <p>Node.js</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/kotlin.svg">
                    <p>Kotlin</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/kotlin.svg">
                    <p>Kotlin</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/kotlin.svg">
                    <p>Kotlin</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/kotlin.svg">
                    <p>Kotlin</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/kotlin.svg">
                    <p>Kotlin</p>
                </div>
                <div class="tile-item">
                    <img src="../static/images/kotlin.svg">
                    <p>Kotlin</p>
                </div>

            </div>
        </div>
    </section>
    <section class="team" id="team">
        <div class="container">
            <div class="team-title">
                <p>Команда</p>
            </div>
            <div class="team-tile-container">
                <div class="team-tile-item">
                    <img src="../static/images/mansur.svg">
                    <p class="team-tile-title">Memetov Mansur</p>
                    <p class="team-tile-description">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                </div>
                <div class="team-tile-item">
                    <img src="../static/images/mansur.svg">
                    <p class="team-tile-title">Memetov Mansur</p>
                    <p class="team-tile-description">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                </div>
                <div class="team-tile-item">
                    <img src="../static/images/mansur.svg">
                    <p class="team-tile-title">Memetov Mansur</p>
                    <p class="team-tile-description">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                </div>
                <div class="team-tile-item">
                    <img src="../static/images/mansur.svg">
                    <p class="team-tile-title">Memetov Mansur</p>
                    <p class="team-tile-description">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                </div>
                <div class="team-tile-item">
                    <img src="../static/images/mansur.svg">
                    <p class="team-tile-title">Memetov Mansur</p>
                    <p class="team-tile-description">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                </div>
                <div class="team-tile-item">
                    <img src="../static/images/mansur.svg">
                    <p class="team-tile-title">Memetov Mansur</p>
                    <p class="team-tile-description">В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us" id="about-us">
        <div class="container">
            <div class="about-us-container">
                <div class="about-us-img">
                    <img src="..//static/images/about-me.svg">
                </div>
                <div class="about-us-description">
                    <p class="about-us-description-title">О нас</p>
                    <p class="about-us-description-descr">В WebDevCrimea мы не просто команда разработчиков, мы - творцы, вдохновленные стремлением к совершенству и инновациям. Наша миссия – создавать цифровые продукты, которые не просто соответствуют вашим ожиданиям, но и превосходят их.</p>
                    <p class="about-us-description-list-title">Наши ценности:</p>
                    <ol class="about-us-description-list">
                        <li>Креативность и Инновации: Мы любим вызовы и видим в них возможность воплотить креативные идеи в реальность. Наша команда постоянно ищет новые технологии и подходы для воплощения ваших амбиций.</li>
                        <li>Партнерство и Сотрудничество: Мы считаем, что успешные проекты строятся на взаимном доверии и понимании. Мы не просто ваш поставщик услуг – мы ваш партнер, готовый поддерживать вас на каждом этапе.</li>
                        <li>Пользовательский Опыт: Наши разработки ориентированы на пользователя. Мы стремимся к тому, чтобы каждое взаимодействие с нашими продуктами приносило радость и удовлетворение.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="projects" id="projects">
        <div class="container">
            <div class="projects-title">
                <p>Проекты</p>
            </div>
            <div class="projects-container">
                <div class="projects-item">
                    <div class="project-item-img">
                        <img src="../static/images/imac.svg" alt="">
                    </div>
                    <div class="projects-description">
                        <p class="projects-item-num">01</p>
                        <p class="projects-item-title">HOTE</p>
                        <p class="project-item-description">
                            "HOTE" - инновационный онлайн-сервис бронирования, предоставляющий широкий выбор отелей по всему миру, с подробными описаниями, отзывами и простым процессом бронирования, чтобы обеспечить пользователям комфортный выбор идеального проживания.</p>
                    </div>
                </div>
                <div class="projects-item-rev">
                    <div class="projects-description-rev">
                        <p class="projects-item-num-rev">02</p>
                        <p class="projects-item-title-rev">ДОМ КРУГОМ</p>
                        <p class="project-item-description">
                            «Дом.Кругом» – это комплексный проект про дома на колесах, который работает по многим направлениям: от создания тренда до реализации комплексной инфраструктуры для шеринга автодомов и прицепов по авторским маршрутам.</p>
                    </div>
                    <div class="project-item-img-rev">
                        <img src="../static/images/home-circle.svg" alt="">
                    </div>
                </div>
                <div class="projects-item" style="margin-left: 70px;">
                    <div class="project-item-img">
                        <img src="../static/images/it-planer.svg" alt="">
                    </div>
                    <div class="projects-description">
                        <p class="projects-item-num">03</p>
                        <p class="projects-item-title">IT-Planer</p>
                        <p class="project-item-description">
                            Данный веб-сервис - это интуитивное приложение для управления ИТ-проектами, созданное для молодых команд разработчиков. Мы предоставляем инструменты для задач, коллаборации, мониторинга прогресса и безопасного обмена данными. Интеграция с популярными инструментами разработки обеспечивает эффективный рабочий процесс, а гибкость позволяет подстраиваться под разные команды.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial" id="testimonials">
        <div class="container">
            <div class="testimonial-title">
                <p>Отзывы</p>
            </div>
            <div class="testimonial-container">
                <div class="testimonial-item">
                    <img src="../static/images/card-1.svg" alt="">
                    <p class="testimonial-descr">Работа выполнена качественно и в срок. Сайт выглядит именно так, как и хотел. Запустили рекламную кампанию. Буду обращаться ещё!</p>
                    <div class="testimonial-line"></div>
                    <p class="testimonial-name">Кармацкий Евгений</p>
                </div>
                <div class="testimonial-item">
                    <img src="../static/images/card-1.svg" alt="">
                    <p class="testimonial-descr">Работа выполнена качественно и в срок. Сайт выглядит именно так, как и хотел. Запустили рекламную кампанию. Буду обращаться ещё!</p>
                    <div class="testimonial-line"></div>
                    <p class="testimonial-name">Кармацкий Евгений</p>
                </div>
                <div class="testimonial-item">
                    <img src="../static/images/card-1.svg" alt="">
                    <p class="testimonial-descr">Работа выполнена качественно и в срок. Сайт выглядит именно так, как и хотел. Запустили рекламную кампанию. Буду обращаться ещё!</p>
                    <div class="testimonial-line"></div>
                    <p class="testimonial-name">Кармацкий Евгений</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container" style="margin-top: 80px;">
            <div class="contact-form">
                    <form action="" method="post" class="contact-form-form" id="contact-form-form">
                        <input type="text" name="" id="" placeholder="Ваше имя" class="form-input"><br>
                        <input type="email" placeholder="Email" class="form-input"><br>
                        <input type="url" placeholder="Ваш сайт (если есть)" class="form-input"><br>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?*"></textarea><br>
                        <div class="bttn-container">
                            <input type="submit" value="Отправить" class="submit-bttn">     
                            <div class="offer-button-link">
                                <div><a href="#" class="button-link-item"><img src="../static/images/telegram.svg"></a></div>
                                <div><a href="#" class="button-link-item"><img src="../static/images/google.svg"></a></div>
                                <div><a href="#" class="button-link-item"><img src="../static/images/instagram.svg"></a></div>
                                <div><a href="#" class="button-link-item"><img src="../static/images/avito.svg"></a></div>
                            </div>
                        </div>
                    </form>
                    <div class="contact-description">
                        <p class="contact-description-title">Обратная связь</p>
                        <p class="contact-description-subtitle">Ваш голос важен для нас</p>
                        <p class="contact-description-descr">Мы ценим ваше мнение и стремимся сделать наше сотрудничество максимально комфортным и продуктивным. Пожалуйста, поделитесь вашими мыслями, вопросами или предложениями, заполнив форму обратной связи.</p>
                        <div class="nav-contacts" id="nav-contacts" style="margin-top: 40px; font-size: 20px; font-weight: 600;">
                            <div class="nav-contacts-item" id="nav-contacts-item">
                                <img src="../static/images/phone.svg">
                                <a href="#">+7 (978) 852-96-96</a>
                            </div>
                            <div class="nav-contacts-item" id="nav-contacts-item">
                                <img src="../static/images/mail.svg">
                                <a href="#">webdevcrimea@gmail.com</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <footer class="footer" id="footer">
        <img src="../static/images/logo(white).svg"> WDC
    </footer>
</body>
</html>