<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header id="header" class="header">
        <div class="navigation">
            <div class="nav-logo" id="nav-logo">
                <img src="../static/images/logo.svg" class="nav-logo-img" id="nav-logo-img">
                <p class="nav-logo-text" id="nav-logo-text">
                    WDC
                </p>
            </div>
            <ul class="nav-menu">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Навыки</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="nav-contacts" id="nav-contacts">
                <div class="nav-contacts-item" id="nav-contacts-item">
                    <img src="../static/images/phone.svg">
                    <a href="#">+7 (978) 852-96-96</a>
                </div>
                <div class="nav-contacts-item" id="nav-contacts-item">
                    <img src="../static/images/mail.svg">
                    <a href="#">webdevcrimea@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="offer">
            <div class="offer-text">
                <div class="offer-title">
                    <span>Добро пожаловать в <br> WebDevCrimea! <br></span>
                </div>
                <div class="offer-subtitle">
                    <span>Мы Переводим Идеи в Реальность! <br></span>
                </div>
                <div class="offer-description">
                    <span>В WebDevCrimea мы гордимся тем, что создаем инновационные решения, которые преображают ваш бизнес. Наша команда разработчиков стремится к воплощению ваших идей в эффективные и мощные веб-приложения. Мы не просто пишем код – мы создаем цифровые продукты, которые выделяют вас на рынке.</span>
                </div>
                <div class="offer-button-link">
                    <div><a href="#" class="button-link-item"><img src="../static/images/telegram.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/google.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/instagram.svg"></a></div>
                    <div><a href="#" class="button-link-item"><img src="../static/images/avito.svg"></a></div>
                </div>
            </div>
            <div class="offer-image">
                <img src="../static/images/hero-img.svg">
            </div>
        </div>
    </header>
</body>
</html>